.map-container {
    position: relative;
    overflow: hidden;
    width: 500px;
    height: 400px;
}
.map-container i {
    position: absolute;
    display: block;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.map-top {
    top: -5px;
    left: 0;
    right: 0;
    height: 5px;
}
.map-right {
    right: -5px;
    top: 0;
    bottom: 0;
    width: 5px;
}
.map-bottom {
    bottom: -5px;
    left: 0;
    right: 0;
    height: 5px;
}
.map-left {
    left: -5px;
    top: 0;
    bottom: 0;
    width: 5px;
}
#map {
    width: inherit;
    height: inherit;
}